# postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=testdb
# Connection URL for management commands.
# NOTE: make sure these details match those shown above!
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/testdb

# pgadmin
PGADMIN_EMAIL=your@mail.com
PGADMIN_PASSWORD=changethis
