## Run the CI suite in PRs and on pushes to the main branch.

name: CI

on:
  push:
    branches: [main]
  pull_request:
    types:
      # Defaults
      - opened
      - synchronize
      - reopened
      # Draft->ready
      - ready_for_review
      # Edit the title or top comment
      - edited

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre-commit-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: griceturrble/precommit-checks-action@v3

  test-backend-fastapi:
    name: Tests - Python FastAPI backend
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v6

      - name: Install just
        run: cargo install just

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.14"

      - name: Install project
        run: just backends fastapi sync

      - name: Run tests
        run: just backends fastapi test

  test-result:
    name: Test results
    runs-on: ubuntu-latest
    needs:
      - test-backend-fastapi
    steps:
      - run: echo "Tests passing!"
